.UiKit-ProgressBar {
  height: 8px;
  background: var(--control-bg);
  border-radius: var(--border-radius);

  &--mini {
    display: inline-block;
    width: 100px;
    margin: 0 6px;
  }

  &--alternate {
    background: var(--body-bg);
  }

  &--fancy {
    .UiKit-ProgressBar-bar {
      background: #65d137;
    }
  }

  &-bar {
    background: var(--control-color);
    border-radius: var(--border-radius);
    height: 100%;
  }
}
